/* Estilo general para contenedores
 div[data-testid="stAppViewBlockContainer"] div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stVerticalBlockBorderWrapper"],
 div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stHorizontalBlock"] div[data-testid="column"] div[data-testid="stVerticalBlockBorderWrapper"]  {
    background-color:white;
    padding:5px;
    border-radius:15px;        
    border: silver solid 2px;
    box-shadow: 0px 0px 10px rgba(178, 182, 192,0.3)
} */

header.stAppHeader {
    background: transparent;
}
.stAppToolbar {
    background: rgba(33, 39, 80, .8);
    border-radius: 11px;
    padding: 6px 5px;
}
div[data-testid="stImageContainer"] img {
    width: 100vw !important;
    margin-left: -5rem;
    margin-top: -7rem;
}

.stMain{
    background: rgb(2,0,36);
    background: linear-gradient(352deg, rgba(2,0,36,1) 0%, rgba(33,6,88,1) 33%, rgba(34,40,130,1) 68%, rgba(7,105,148,1) 100%);
}
*{transition: all .3s ease;}

.stMainBlockContainer.block-container {
    max-width: 60vw;
}

.st-key-analizar_video button{
    background-blend-mode: darken;
    border: none;
    transition: all 0.3s ease;
    margin: 2rem 0;
}

.st-key-analizar_video button > div > p:before, .st-key-analizar_texto button > div > p:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f002';
    display: inline-block;
    padding-right: 8px;
    vertical-align: middle;
    font-weight: 900;
}










/* Color etiquetas y títulos*/
h3,
label[data-testid="stMetricLabel"] p{  
    font-weight:bold;
    /* color:#1ea47e */
}

.stNumberInput {
    max-width: 265px;
}


.stHorizontalBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .stColumn {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: auto;
  }
  
.stExpander .stHorizontalBlock .stColumn:last-child {
    width: 40%;
}

.stExpander .stHorizontalBlock .stColumn:first-child {
    width: 60% !important;
}

.js-plotly-plot .plotly .main-svg {
    background: transparent !important;
}

